.filters{
    height: 100%;
    width: 80%;
    background: white;
    border-radius: 0.3rem;
    padding: .7rem 1rem;
    margin: -2rem 0rem 2rem 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 .5rem 2rem rgb(91 164 164 / 25%);
}
.filter{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
}
.filter-item{
    display: flex;
    margin: .5rem .5rem;
}
.filter-item-name{
    padding: .5rem;
    background: #eef6f6;
    color: #5ba4a4;
    font-weight: 700;
    font-family: League Spartan, sans-serif;
    font-size: 14px;
}

.filter-item-remove{
    background: #5ba4a4;
    display: flex;
    padding: 0rem .35rem;
    align-items: center;
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    cursor: pointer;
}
.filter-item-remove:hover{
    background: black;
}
.clear{
    color: #7b8e8e;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 700;
    font-size: .8rem;
}

.clear:hover{
    text-decoration: underline;
}